body
{
   background-color: #FFFFFF;
   color: #FF7F50;
   font-family: "Comic Sans MS", serif;
   font-weight: normal;
   font-size: 14px;
   line-height: 2;
   margin: 0;
   text-align: center;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0 solid #000000;
   border-radius: 0;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0 solid #000000;
   border-radius: 0;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0 solid #000000;
   border-radius: 0;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#Button2
{
   border: 1px solid #FF4500;
   border-radius: 4px;
   background-color: #FF8C00;
   background-image: none;
   color: #FFFFFF;
   font-family: "Comic Sans MS", serif;
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}

#Button2:focus
{
   outline: 0;
}
