<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Basket Page</title>
<link href="StartPage.css" rel="stylesheet">
<link href="Basket.css" rel="stylesheet">
</head>
<body>
<div>
<div id="wb_Text1" style="position:absolute;left:36px;top:8px;width:245px;height:59px;z-index:1;">
<span style="color:#FF7F50;font-family:'Comic Sans MS';font-size:32px;"><strong>Basket</strong></span><span style="color:#FFFFFF;font-family:'Comic Sans MS';font-size:32px;"><strong><br></strong></span></div>
<div id="wb_Text4" style="position:absolute;left:36px;top:577px;width:245px;height:45px;z-index:2;">
<span style="color:#FF7F50;font-family:'Comic Sans MS';font-size:32px;"><strong>Total</strong></span></div>
<div id="wb_Text2" style="position:absolute;left:36px;top:97px;width:245px;height:45px;z-index:3;">
<span style="color:#FF7F50;font-family:'Comic Sans MS';font-size:32px;"><strong>Your's order</strong></span></div>
<div id="wb_Text3" style="position:absolute;left:36px;top:192px;width:245px;height:45px;z-index:4;">
<span style="color:#FF7F50;font-family:'Comic Sans MS';font-size:32px;"><strong>Pepperoni</strong></span></div>
<div id="wb_Text14" style="position:absolute;left:511px;top:192px;width:102px;height:45px;z-index:5;">
<span style="color:#FF7F50;font-family:'Comic Sans MS';font-size:32px;"><strong>25.60</strong></span></div>
<div id="wb_Text9" style="position:absolute;left:502px;top:577px;width:102px;height:45px;z-index:6;">
<span style="color:#FF7F50;font-family:'Comic Sans MS';font-size:32px;"><strong>25.60</strong></span></div>
<div id="wb_Text5" style="position:absolute;left:313px;top:192px;width:102px;height:45px;z-index:7;">
<span style="color:#FF7F50;font-family:'Comic Sans MS';font-size:32px;"><strong>1</strong></span></div>
<input type="submit" id="Button1" name="Delivery" value="Delivery" style="position:absolute;left:36px;top:644px;width:262px;height:47px;z-index:8;">
</div>
</body>
</html>