div#container
{
   width: 970px;
   position: relative;
   margin: 0 auto 0 auto;
   text-align: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   text-align: center;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text1 div
{
   text-align: left;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text3 div
{
   text-align: left;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text4 div
{
   text-align: left;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text5 div
{
   text-align: left;
}
#wb_Text2 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text2 div
{
   text-align: left;
}
#Editbox1
{
   border: 1px solid #FF8C00;
   border-radius: 4px;
   background-color: rgba(255,140,0,0.00);
   background-image: none;
   color: #FF8C00;
   font-family: "Comic Sans MS";
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   line-height: 45px;
   margin: 0;
   text-align: center;
   padding: 4px 4px 4px 4px;
}
#Editbox1:focus
{
   border-color: #D2B48C;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(210,180,140,0.60);
   outline: 0;
}
#Editbox2
{
   border: 1px solid #FF8C00;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #FF8C00;
   font-family: "Comic Sans MS";
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   line-height: 45px;
   margin: 0;
   text-align: center;
   padding: 4px 4px 4px 4px;
}
#Editbox2:focus
{
   border-color: #D2B48C;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(210,180,140,0.60);
   outline: 0;
}
#Editbox3
{
   border: 1px solid #FF8C00;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #FF8C00;
   font-family: "Comic Sans MS";
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   line-height: 45px;
   margin: 0;
   text-align: center;
   padding: 4px 4px 4px 4px;
}
#Editbox3:focus
{
   border-color: #D2B48C;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(210,180,140,0.60);
   outline: 0;
}
#wb_Text6 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text6 div
{
   text-align: left;
}
#Editbox4
{
   border: 1px solid #FF8C00;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #FF8C00;
   font-family: "Comic Sans MS";
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   line-height: 45px;
   margin: 0;
   text-align: center;
   padding: 4px 4px 4px 4px;
}
#Editbox4:focus
{
   border-color: #D2B48C;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(210,180,140,0.60);
   outline: 0;
}
#wb_Text7 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text7 div
{
   text-align: left;
}
#Editbox5
{
   border: 1px solid #FF8C00;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #FF8C00;
   font-family: "Comic Sans MS";
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   line-height: 45px;
   margin: 0;
   text-align: center;
   padding: 4px 4px 4px 4px;
}
#Editbox5:focus
{
   border-color: #D2B48C;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(210,180,140,0.60);
   outline: 0;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text8 div
{
   text-align: left;
}
#Editbox6
{
   border: 1px solid #FF8C00;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #FF8C00;
   font-family: "Comic Sans MS";
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   line-height: 45px;
   margin: 0;
   text-align: center;
   padding: 4px 4px 4px 4px;
}
#Editbox6:focus
{
   border-color: #D2B48C;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(210,180,140,0.60);
   outline: 0;
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text9 div
{
   text-align: left;
}
#Editbox7
{
   border: 1px solid #FF8C00;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #FF8C00;
   font-family: "Comic Sans MS";
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   line-height: 45px;
   margin: 0;
   text-align: center;
   padding: 4px 4px 4px 4px;
}
#Editbox7:focus
{
   border-color: #D2B48C;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(210,180,140,0.60);
   outline: 0;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text10 div
{
   text-align: left;
}
#Editbox8
{
   border: 1px solid #FF8C00;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #FF8C00;
   font-family: "Comic Sans MS";
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   line-height: 66px;
   margin: 0;
   text-align: center;
   padding: 4px 4px 4px 4px;
}
#Editbox8:focus
{
   border-color: #D2B48C;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(210,180,140,0.60);
   outline: 0;
}
#wb_RadioButton9
{
   margin: 0;
}
#wb_RadioButton9, #wb_RadioButton9 *, #wb_RadioButton9 *::before, #wb_RadioButton9 *::after
{
   box-sizing: border-box;
}
#wb_RadioButton9 input[type='radio']
{
   position: absolute;
   padding: 0;
   margin: 0;
   opacity: 0;
   z-index: 1;
   width: 22px;
   height: 22px;
   left: 0;
   top: 0;
}
#wb_RadioButton9 label
{
   display: inline-block;
   vertical-align: middle;
   position: absolute;
   left: 0;
   top: 0;
   width: 0;
   height: 0;
   padding: 0;
}
#wb_RadioButton9 label::before
{
   content: "";
   display: inline-block;
   position: absolute;
   width: 22px;
   height: 22px;
   left: 0;
   top: 0;
   background-color: #FFFFFF;
   border: 1px solid #CCCCCC;
   border-radius: 50%;
}
#wb_RadioButton9 label::after
{
   display: inline-block;
   position: absolute;
   width: 22px;
   height: 22px;
   left: 0;
   top: 0;
   visibility: visible;
   padding: 0;
   text-align: center;
   line-height: 22px;
   border-radius: 50%;
   color: #FFFFFF;
   content: " ";
   transform: scale(0, 0);
}
#wb_RadioButton9 input[type='radio']:checked + label::after
{
   background-color: #D2B48C;
   background-image: none;
   border-color: #D2B48C;
   transform: scale(0.66, 0.66);
}
#wb_RadioButton9 input[type='radio']:focus + label::before
{
   outline: thin dotted;
}
#wb_Text18 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text18 div
{
   text-align: left;
}
#wb_Text19 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   padding: 0;
   margin: 0;
   text-align: left;
}
#wb_Text19 div
{
   text-align: left;
}
#wb_RadioButton11
{
   margin: 0;
}
#wb_RadioButton11, #wb_RadioButton11 *, #wb_RadioButton11 *::before, #wb_RadioButton11 *::after
{
   box-sizing: border-box;
}
#wb_RadioButton11 input[type='radio']
{
   position: absolute;
   padding: 0;
   margin: 0;
   opacity: 0;
   z-index: 1;
   width: 22px;
   height: 22px;
   left: 0;
   top: 0;
}
#wb_RadioButton11 label
{
   display: inline-block;
   vertical-align: middle;
   position: absolute;
   left: 0;
   top: 0;
   width: 0;
   height: 0;
   padding: 0;
}
#wb_RadioButton11 label::before
{
   content: "";
   display: inline-block;
   position: absolute;
   width: 22px;
   height: 22px;
   left: 0;
   top: 0;
   background-color: #FFFFFF;
   border: 1px solid #CCCCCC;
   border-radius: 50%;
}
#wb_RadioButton11 label::after
{
   display: inline-block;
   position: absolute;
   width: 22px;
   height: 22px;
   left: 0;
   top: 0;
   visibility: visible;
   padding: 0;
   text-align: center;
   line-height: 22px;
   border-radius: 50%;
   color: #FFFFFF;
   content: " ";
   transform: scale(0, 0);
}
#wb_RadioButton11 input[type='radio']:checked + label::after
{
   background-color: #D2B48C;
   background-image: none;
   border-color: #D2B48C;
   transform: scale(0.66, 0.66);
}
#wb_RadioButton11 input[type='radio']:focus + label::before
{
   outline: thin dotted;
}
#Button1
{
   border: 1px solid #FF4500;
   border-radius: 4px;
   background-color: #FF8C00;
   background-image: none;
   color: #FFFFFF;
   font-family: "Comic Sans MS";
   font-weight: normal;
   font-style: normal;
   font-size: 32px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}

#Button1:focus
{
   outline: 0;
}
