<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Delivery Page</title>
<link href="Delivery.css" rel="stylesheet">
</head>
<body>
<div id="wb_Text1" style="position:absolute;left:29px;top:8px;width:245px;height:59px;z-index:1;">
<span style="color:#FF8C00;font-family:'Comic Sans MS',serif;font-size:32px;"><strong>Delivery</strong></span><span style="color:#FFFFFF;font-family:'Comic Sans MS';font-size:32px;"><strong><br></strong></span></div>
<div id="wb_Text6" style="position:absolute;left:29px;top:589px;width:245px;height:45px;z-index:9;">
<span style="color:#FF8C00;font-family:'Comic Sans MS',serif;font-size:32px;"><strong>Street</strong></span></div>
<input type="text" id="Editbox4" style="position:absolute;left:313px;top:579px;width:324px;height:45px;z-index:10;" name="Street" value="Dicens " spellcheck="false">
<div id="wb_Text7" style="position:absolute;left:29px;top:676px;width:245px;height:45px;z-index:11;">
<span style="color:#FF8C00;font-family:'Comic Sans MS';font-size:32px;"><strong>Home</strong></span></div>
<input type="text" id="Editbox5" style="position:absolute;left:313px;top:671px;width:324px;height:45px;z-index:12;" name="Home" value="5" spellcheck="false">
<div id="wb_Text8" style="position:absolute;left:29px;top:488px;width:245px;height:45px;z-index:13;">
<span style="color:#FF8C00;font-family:'Comic Sans MS';font-size:32px;"><strong>City</strong></span></div>
<input type="text" id="Editbox6" style="position:absolute;left:313px;top:478px;width:324px;height:45px;z-index:14;" name="City" value="Seatle" spellcheck="false">
<div id="wb_Text9" style="position:absolute;left:29px;top:772px;width:245px;height:45px;z-index:15;">
<span style="color:#FF8C00;font-family:'Comic Sans MS';font-size:32px;"><strong>Apartments</strong></span></div>
<input type="text" id="Editbox7" style="position:absolute;left:313px;top:772px;width:324px;height:45px;z-index:16;" name="Apartoments" value="20" spellcheck="false">
<div id="wb_Text10" style="position:absolute;left:29px;top:865px;width:466px;height:45px;z-index:17;">
<span style="color:#FF8C00;font-family:'Comic Sans MS';font-size:32px;"><strong>Coments for a delivery</strong></span></div>
<input type="text" id="Editbox8" style="position:absolute;left:29px;top:940px;width:608px;height:66px;z-index:18;" name="Coments" value="Coments" spellcheck="false">
<div id="wb_Text18" style="position:absolute;left:68px;top:1046px;width:245px;height:21px;z-index:20;">
<input type="submit" onclick="window.location.href = '/GratefulFeedBack'" id="Button20" name="Order" value="Order" style="position:absolute;left:29px;top:1093px;width:262px;height:47px;z-index:23;">
</div>
</body>
</html>