<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>GratefulFeedBack</title>
</head>
<body>
<div >
<div id="wb_Text7" style="position:absolute;left:23px;top:99px;width:591px;height:134px;z-index:1;">
<span style="color:#FF7F50;font-family:'Comic Sans MS',serif;font-size:32px;"><strong>Thank you for your order. We are glad to see you again as our customers.</strong></span></div>
<div id="wb_Text1" style="position:absolute;left:23px;top:8px;width:245px;height:45px;z-index:2;">
<span style="color:#FF7F50;font-family:'Comic Sans MS',serif;font-size:32px;"><strong>Pizza for you</strong></span></div>
<input type="submit" onclick="window.location.href = '/StartPage'" id="Button2" name="Back" value="Back For Start" style="position:absolute;left:23px;top:253px;width:262px;height:47px;z-index:3;">
</div>
</body>
</html>