<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>InformationForOrder Page</title>
  <link href="Delivery.css" rel="stylesheet">
</head>
<body>
<div >
  <div id="wb_Text1" style="position:absolute;left:29px;top:8px;width:245px;height:59px;z-index:1;">
    <span style="color:#FF8C00;font-family:'Comic Sans MS';font-size:32px;"><strong>Delivery</strong></span><span style="color:#FFFFFF;font-family:'Comic Sans MS';font-size:32px;"><strong><br></strong></span></div>
  <div id="wb_Text3" style="position:absolute;left:29px;top:191px;width:102px;height:45px;z-index:2;">
    <span style="color:#FF8C00;font-family:'Comic Sans MS';font-size:32px;"><strong>Name</strong></span></div>
  <div id="wb_Text4" style="position:absolute;left:29px;top:288px;width:245px;height:45px;z-index:3;">
    <span style="color:#FF8C00;font-family:'Comic Sans MS';font-size:32px;"><strong>Surname</strong></span></div>
  <div id="wb_Text5" style="position:absolute;left:29px;top:382px;width:245px;height:45px;z-index:4;">
    <span style="color:#FF8C00;font-family:'Comic Sans MS';font-size:32px;"><strong>Phone number</strong></span></div>
  <div id="wb_Text2" style="position:absolute;left:29px;top:92px;width:370px;height:45px;z-index:5;">
    <span style="color:#FF8C00;font-family:'Comic Sans MS';font-size:32px;"><strong>Delivery address</strong></span></div>
  <input type="text" id="Editbox1" style="position:absolute;left:313px;top:186px;width:324px;height:45px;z-index:6;" name="Name" value="Veronica" spellcheck="false">
  <input type="text" id="Editbox2" style="position:absolute;left:313px;top:283px;width:324px;height:45px;z-index:7;" name="Surname" value="Anderson" spellcheck="false">
  <input type="text" id="Editbox3" style="position:absolute;left:313px;top:377px;width:324px;height:45px;z-index:8;" name="Phone" value="+1 302 402 1065" spellcheck="false">
  <input type="submit" onclick="window.location.href = '/Delivery'" id="Button1" name="Delivery" value="Delivery" style="position:absolute;left:19px;top:638px;width:262px;height:47px;z-index:8;">
  <input type="submit" onclick="window.location.href = '/GratefulFeedBack'" id="Button2" name="Pick Up" value="Pick Up" style="position:absolute;left:650px;top:638px;width:262px;height:47px;z-index:8;">
</div>
</body>
</html>