<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Pizza Page</title>
<link href="StartPage.css" rel="stylesheet">
<link href="Pizza.css" rel="stylesheet">
</head>
<body>
<div>
<div id="wb_Text1" style="position:absolute;left:66px;top:20px;width:245px;height:45px;z-index:1;">
<span style="color:#FF8C00;font-family:'Comic Sans MS';font-size:32px;"><strong>Pizza </strong></span></div>
<div id="wb_Text2" style="position:absolute;left:66px;top:76px;width:245px;height:45px;z-index:2;">
<span style="color:#FF8C00;font-family:'Comic Sans MS';font-size:32px;"><strong>Pepperoni</strong></span></div>
<div id="wb_Image1" style="position:absolute;left:66px;top:121px;width:295px;height:243px;z-index:3;">
<img src="images/Pepperoni.jpg" id="Image1" alt="" width="295" height="243"></div>
<div id="wb_Text3" style="position:absolute;left:372px;top:121px;width:292px;height:208px;z-index:4;">
<span style="color:#FF8C00;font-family:'Comic Sans MS';font-size:19px;"><strong>Ingredients: pizza sauce, pepperoni, mozzarella cheese, basil<br>Product nutritional value:<br>Calories 2547 kcal<br>Carbohydrates 216 g<br>Proteins 96 g<br>Fats 142 g</strong></span></div>
<div id="wb_RadioButton2" style="position:absolute;left:66px;top:377px;width:22px;height:25px;z-index:5;">
<input type="radio" id="RadioButton2" name="Size " value="on" style="position:absolute;left:0;top:0;"><label for="RadioButton2"></label></div>
<div id="wb_Text4" style="position:absolute;left:105px;top:381px;width:245px;height:21px;z-index:6;">
<span style="color:#FF8C00;font-family:Arial;font-size:19px;"><strong><em>Big Size</em></strong></span></div>
<div id="wb_Text5" style="position:absolute;left:396px;top:381px;width:245px;height:21px;z-index:7;">
<span style="color:#FF8C00;font-family:Arial;font-size:19px;"><strong><em>Middel Size</em></strong></span></div>
<div id="wb_RadioButton3" style="position:absolute;left:66px;top:410px;width:22px;height:25px;z-index:8;">
<input type="radio" id="RadioButton3" name="Dough" value="on" style="position:absolute;left:0;top:0;"><label for="RadioButton3"></label></div>
<div id="wb_Text6" style="position:absolute;left:105px;top:414px;width:245px;height:21px;z-index:9;">
<span style="color:#FF8C00;font-family:Arial;font-size:19px;"><strong><em>Thin dough</em></strong></span></div>
<div id="wb_Text7" style="position:absolute;left:396px;top:414px;width:245px;height:21px;z-index:10;">
<span style="color:#FF8C00;font-family:Arial;font-size:19px;"><strong><em>Plain dough</em></strong></span></div>
<div id="wb_Text8" style="position:absolute;left:66px;top:528px;width:245px;height:45px;z-index:11;">
<span style="color:#FF7F50;font-family:'Comic Sans MS';font-size:32px;"><strong>Four Season</strong></span></div>
<div id="wb_Text9" style="position:absolute;left:372px;top:573px;width:292px;height:234px;z-index:12;">
<span style="color:#FF7F50;font-family:'Comic Sans MS';font-size:19px;"><strong>Ingredients: garlic sauce, pepperoni, ham, fresh mushrooms, chicken fillet, mozzarella cheese, basil<br>Product nutritional value:<br>Calories 2192 kcal<br>Carbohydrates 216 g<br>Proteins 100 g<br>Fats 117 g</strong></span></div>
<div id="wb_Image2" style="position:absolute;left:66px;top:573px;width:294px;height:235px;z-index:13;">
<img src="images/FourSeason.jpg" id="Image2" alt="" width="294" height="196"></div>
<div id="wb_Text14" style="position:absolute;left:359px;top:460px;width:245px;height:45px;z-index:14;">
<span style="color:#FF7F50;font-family:'Comic Sans MS';font-size:32px;"><strong>25.60</strong></span></div>
<div id="wb_Text15" style="position:absolute;left:361px;top:903px;width:245px;height:45px;z-index:15;">
<span style="color:#FF7F50;font-family:'Comic Sans MS';font-size:32px;"><strong>28.70</strong></span></div>
<div id="wb_Text16" style="position:absolute;left:66px;top:988px;width:245px;height:45px;z-index:16;">
<span style="color:#FF7F50;font-family:'Comic Sans MS';font-size:32px;"><strong>Hawaiian</strong></span></div>
<div id="wb_Text17" style="position:absolute;left:372px;top:1033px;width:292px;height:208px;z-index:17;">
<span style="color:#FF7F50;font-family:'Comic Sans MS';font-size:19px;"><strong>Ingredients: cheese sauce, ham, chicken fillet, pineapple, mozzarella cheese, basil<br>Product nutritional value:<br>Calories 2348 kcal<br>Carbohydrates 223 g<br>Proteins 95 g<br>Fats 117 g</strong></span></div>
<div id="wb_Text23" style="position:absolute;left:146px;top:1176px;width:250px;height:15px;z-index:18;">
&nbsp;</div>
<div id="wb_Image3" style="position:absolute;left:66px;top:1033px;width:293px;height:234px;z-index:19;">
<img src="images/Hawaiian.jpg" id="Image3" alt="" width="293" height="196"></div>
<div id="wb_RadioButton1" style="position:absolute;left:361px;top:377px;width:22px;height:25px;z-index:20;">
<input type="radio" id="RadioButton1" name="Size " value="on" style="position:absolute;left:0;top:0;"><label for="RadioButton1"></label></div>
<div id="wb_RadioButton4" style="position:absolute;left:359px;top:410px;width:22px;height:25px;z-index:21;">
<input type="radio" id="RadioButton4" name="Dough" value="on" style="position:absolute;left:0;top:0;"><label for="RadioButton4"></label></div>
<div id="wb_RadioButton5" style="position:absolute;left:66px;top:830px;width:22px;height:25px;z-index:22;">
<input type="radio" id="RadioButton5" name="Size " value="on" style="position:absolute;left:0;top:0;"><label for="RadioButton5"></label></div>
<div id="wb_Text10" style="position:absolute;left:105px;top:834px;width:245px;height:21px;z-index:23;">
<span style="color:#FF7F50;font-family:Arial;font-size:19px;"><strong><em>Big Size</em></strong></span></div>
<div id="wb_Text11" style="position:absolute;left:396px;top:834px;width:245px;height:21px;z-index:24;">
<span style="color:#FF7F50;font-family:Arial;font-size:19px;"><strong><em>Middel Size</em></strong></span></div>
<div id="wb_RadioButton6" style="position:absolute;left:66px;top:863px;width:22px;height:25px;z-index:25;">
<input type="radio" id="RadioButton6" name="Dough" value="on" style="position:absolute;left:0;top:0;"><label for="RadioButton6"></label></div>
<div id="wb_Text12" style="position:absolute;left:105px;top:867px;width:245px;height:21px;z-index:26;">
<span style="color:#FF7F50;font-family:Arial;font-size:19px;"><strong><em>Thin dough</em></strong></span></div>
<div id="wb_Text13" style="position:absolute;left:396px;top:867px;width:245px;height:21px;z-index:27;">
<span style="color:#FF7F50;font-family:Arial;font-size:19px;"><strong><em>Plain dough</em></strong></span></div>
<div id="wb_RadioButton7" style="position:absolute;left:361px;top:830px;width:22px;height:25px;z-index:28;">
<input type="radio" id="RadioButton7" name="Size " value="on" style="position:absolute;left:0;top:0;"><label for="RadioButton7"></label></div>
<div id="wb_RadioButton8" style="position:absolute;left:359px;top:863px;width:22px;height:25px;z-index:29;">
<input type="radio" id="RadioButton8" name="Dough" value="on" style="position:absolute;left:0;top:0;"><label for="RadioButton8"></label></div>
<div id="wb_RadioButton9" style="position:absolute;left:66px;top:1280px;width:22px;height:25px;z-index:30;">
<input type="radio" id="RadioButton9" name="Size " value="on" style="position:absolute;left:0;top:0;"><label for="RadioButton9"></label></div>
<div id="wb_Text18" style="position:absolute;left:105px;top:1284px;width:245px;height:21px;z-index:31;">
<span style="color:#FF7F50;font-family:Arial;font-size:19px;"><strong><em>Big Size</em></strong></span></div>
<div id="wb_Text19" style="position:absolute;left:396px;top:1284px;width:245px;height:21px;z-index:32;">
<span style="color:#FF7F50;font-family:Arial;font-size:19px;"><strong><em>Middel Size</em></strong></span></div>
<div id="wb_RadioButton10" style="position:absolute;left:66px;top:1313px;width:22px;height:25px;z-index:33;">
<input type="radio" id="RadioButton10" name="Dough" value="on" style="position:absolute;left:0;top:0;"><label for="RadioButton10"></label></div>
<div id="wb_Text20" style="position:absolute;left:105px;top:1317px;width:245px;height:21px;z-index:34;">
<span style="color:#FF7F50;font-family:Arial;font-size:19px;"><strong><em>Thin dough</em></strong></span></div>
<div id="wb_Text21" style="position:absolute;left:396px;top:1317px;width:245px;height:21px;z-index:35;">
<span style="color:#FF7F50;font-family:Arial;font-size:19px;"><strong><em>Plain dough</em></strong></span></div>
<div id="wb_RadioButton11" style="position:absolute;left:361px;top:1280px;width:22px;height:25px;z-index:36;">
<input type="radio" id="RadioButton11" name="Size " value="on" style="position:absolute;left:0;top:0;"><label for="RadioButton11"></label></div>
<div id="wb_RadioButton12" style="position:absolute;left:359px;top:1313px;width:22px;height:25px;z-index:37;">
<input type="radio" id="RadioButton12" name="Dough" value="on" style="position:absolute;left:0;top:0;"><label for="RadioButton12"></label></div>
<input type="submit" id="Button1" name="Backet" value="Basket" style="position:absolute;left:66px;top:459px;width:262px;height:47px;z-index:38;">
<input type="submit" id="Button2" name="Backet" value="Basket" style="position:absolute;left:66px;top:902px;width:262px;height:47px;z-index:39;">
<div id="wb_Text22" style="position:absolute;left:359px;top:1366px;width:245px;height:45px;z-index:40;">
<span style="color:#FF7F50;font-family:'Comic Sans MS';font-size:32px;"><strong>17.60</strong></span></div>
<input type="submit" id="Button3" name="Backet" value="Basket" style="position:absolute;left:66px;top:1365px;width:262px;height:47px;z-index:41;">
</div>
</body>
</html>