<!Doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>StartPage</title>
<link href="StartPage.css" rel="stylesheet">
</head>
<body>
<div>
<div id="wb_Text6" style="position:absolute;left:411px;top:124px;width:591px;height:45px;z-index:1;">
<span style="color:#FF8C00;font-family:'Comic Sans MS',serif;font-size:32px;"><strong>Phone for delivery +1 302 465 1065</strong></span></div>
<div id="wb_Text7" style="position:absolute;left:411px;top:207px;width:591px;height:223px;z-index:2;">
<span style="color:#FF8C00;font-family:'Comic Sans MS',serif;font-size:32px;"><strong>45 minutes<br>or free pizza<br>if we do not deliver the order within 45 minutes, you will receive one pizza from the order for free</strong></span></div>
<div id="wb_Text1" style="position:absolute;left:48px;top:8px;width:245px;height:45px;z-index:3;">
<span style="color:#FF8C00;font-family:'Comic Sans MS',serif;font-size:32px;"><strong>Pizza for you</strong></span></div>
<div id="wb_Text3" style="position:absolute;left:48px;top:189px;width:245px;height:45px;z-index:4;">
<span style="color:#FF8C00;font-family:'Comic Sans MS',serif;font-size:32px;"><strong>Snacks</strong></span></div>
<a href="/Delivery" id="wb_Text4" style="position:absolute;left:48px;top:284px;width:245px;height:45px;z-index:5;">
<span style="color:#FF8C00;font-family:'Comic Sans MS',serif;font-size:32px;"><strong>Delivery</strong></span></a>
<a href="/AboutUs" id="wb_Text5" style="position:absolute;left:57px;top:385px;width:245px;height:45px;z-index:6;">
<span style="color:#FF8C00;font-family:'Comic Sans MS',serif;font-size:32px;"><strong>About Us</strong></span></a>
<a href="/Pizza" id="wb_Text2" style="position:absolute;left:57px;top:94px;width:245px;height:45px;z-index:7;">
<span style="color:#FF8C00;font-family:'Comic Sans MS',serif;font-size:32px;"><strong>Pizza</strong></span></a>
<input type="submit" onclick="window.location.href = '/Basket'" id="Button" name="Button" value="Basket" style="position:absolute;left:654px;top:7px;width:262px;height:47px;z-index:8;">
</div>
</body>
</html>